
body{
    text-align: center; 
    background-color: rgb(186, 192, 180);  
    height: 100vh;
    align-items: center;
    display: flex;    
 }

 #SectonQuiz{
    background-color: white;
    width: 70%;
    margin: auto;
    min-height: 500px;
   padding-top: 60px;
   border-radius: 10px;
   min-width: 250px;
 }


 #Answershow{
      width: 40%;
      margin: auto;
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      
 }
 #AnswerBtn{
     padding: 10px;
     display: none;
     font-weight: bold;
     background-color: red;
     color: white;
     border-radius: 4px;
     border: none;
     cursor: pointer;
 }
 #Next{
     padding: 10px;
     width: 100px;
     border: 2px solid;
     border-radius: 4px;
     font-weight: bold;
     cursor: pointer;

 }
 #submit{
     padding: 10px;
     border: 2px solid;
     border-radius: 4px;
     font-weight: bold;
     cursor: pointer;
 }
 #input{
     padding: 10px;
     border: 2px solid gray;
     font-weight: bold;

 }

 #QuestionNo{
     color: red;
     width: 80%;
     margin: 40px auto 40px auto;
     padding: 20px;
     border-radius: 4px;
     font-size: 20px;
     font-weight: bold;
     min-height: 50px;
 }
 
 #saveQ{
     color: black;
 }
 #QuizFinished{
     color: rgb(241, 0, 0);
     width: 50%;
     margin: 40px auto 40px auto;
     padding-top: 20px;

     border-radius: 4px;
     font-size: 27px;
     font-weight: bold;
     min-height: 50px;
 }
 #cardConntainer{
    display: none;
 }

 /*_________ table final result Section _______*/



#cardConntainer{
     height: 200px;
     width: 200px;
     margin: auto;
}

.parent{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid;
}
.parent p{
    font-weight: bold;
    color: rgb(214, 43, 0);
}

#CurrectQ{
    color: black;
}
#TotalQ{
    color: black;
}
#persentage{
    color: black;
}


@media (max-width:500px) {
     #SectonQuiz{
        min-height: 700px;
        min-width: 300px;
     }
     #submit{
        margin-top: 10px;
     }
     #SectonQuiz{
        width: 90%;
     }
}
